<!DOCTYPE html>
</html>
    <head>
        <title>Elassandra  and Janusgraph</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
              <h2><%=page_title%></h2>
              <img src="/../images/logo-white.svg">
            </div>
            <div class="page-container">
